<div class="main post-new">
    <div class="container">
        <h1>Edit Data</h1>
        <%= form_tag("/posting/update/#{@data.id}") do %>
        <div class="form">
            <div class="form-body">
                <label for="">Judul</label>
                <input name="judul" value="<%= @data.judul %>"required>

                 <label for="">Deskripsi</label>
                <textarea name="deskripsi" id="" cols="30" rows="10"><%= @data.deskripsi %></textarea>
                <button type="submit">Simpan</button>
                <a href="/posting/index">Back</a>

            </div>

        </div>

        <% end %>

    </div>
</div>